@model QsAdmin.Models.Customer

@{
    ViewBag.Title = "取引先管理";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>取引先管理 <small>詳細</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CustomerName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CustomerShortName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CustomerShortName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.GroupName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.GroupName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CompanyName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TransferName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TransferName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ClosingDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ClosingDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Memo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Memo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DeleteFlag)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DeleteFlag)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>