@model IEnumerable<QsAdmin.Models.Customer>

@{
    ViewBag.Title = "取引先管理";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>取引先管理 <small>検索・一覧</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li title="取引先登録">
                        <a href=@Url.Action("Create", "Customers") class="dropdown-toggle"><i class="fa fa-plus"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerShortName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GroupName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CompanyName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TransferName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Memo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DeleteFlag)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerShortName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GroupName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TransferName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Memo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeleteFlag)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.CustomerId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>