@model IEnumerable<QsAdmin.Models.SeikyuIraiKbViewModel>

@{
    ViewBag.Title = "取引管理";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>取引管理 <small>取引内訳</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="">
                                @Html.DisplayNameFor(model => model.Himmoku)
                            </th>
                            <th class="">
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th class="">
                                @Html.DisplayNameFor(model => model.Number)
                            </th>
                            <th class="">
                                @Html.DisplayNameFor(model => model.Gokei)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Himmoku)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Number)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gokei)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>